*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    border: 0px;
    box-sizing: border-box;
}
ul,
ol,
li{
    list-style: none;
}
img{
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}
html,
body {
    height: 100%;
    line-height: 1;
    font-size: 16px;
    background-color: #FCF8E8;
    color: #fff;
}
a{
    text-decoration: none;
}
.wrapper{
    min-height: 100%;
}